<!DOCTYPE html>
<html>
<head>
  <title>ParadigmSm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="cbp-spmenu-push">

    <%= render 'layouts/nav' %>

    <div class="page-wrapper">
      <div class="menu-overlay"></div>
      <%= render 'layouts/header' %>

      <%= yield %>

      <footer>
        <%= render 'layouts/footer' %>
      </footer>

  </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script>
  // Paralax only
  // Home Page
  (function($) {
    $('.header-16-sub-home').each(function() {
      if (! isMobile.any() ) {
        $(this).parallax('50%', 0.3, true);
      } else {
        $(this).css('background-attachment', 'initial')
      }
    })
  }(jQuery));

  (function($) {
    $('.content-23-home').each(function() {
      if (! isMobile.any() ) {
        $(this).parallax('50%', 0.3, true);
      } else {
        $(this).css('background-attachment', 'initial')
      }
    })
  }(jQuery));

  (function($) {
    $('.content-23-home-2').each(function() {
      if (! isMobile.any() ) {
        $(this).parallax('50%', 0.3, true);
      } else {
        $(this).css('background-attachment', 'initial')
      }
    })
  }(jQuery));

  // About Page

  (function($) {
  $('.header-16-sub-about').each(function() {
    if (! isMobile.any() ) {
        $(this).parallax('50%', 0.3, true);
      } else {
        $(this).css('background-attachment', 'initial')
      }
    })
  }(jQuery));

  // Service Page

  (function($) {
  $('.header-16-sub-services').each(function() {
    if (! isMobile.any() ) {
        $(this).parallax('50%', 0.3, true);
      } else {
        $(this).css('background-attachment', 'initial')
      }
    })
  }(jQuery));

  // Soccer Page

  (function($) {
  $('.header-16-sub-soccer').each(function() {
    if (! isMobile.any() ) {
        $(this).parallax('50%', 0.3, true);
      } else {
        $(this).css('background-attachment', 'initial')
      }
    })
  }(jQuery));

  (function($) {
  $('.v-center-soccer').each(function() {
    if (! isMobile.any() ) {
        $(this).parallax('50%', 0.3, true);
      } else {
        $(this).css('background-attachment', 'initial')
      }
    })
  }(jQuery));

    // Basketball Page

    (function($) {
    $('.header-16-sub-basketball').each(function() {
      if (! isMobile.any() ) {
          $(this).parallax('50%', 0.3, true);
        } else {
          $(this).css('background-attachment', 'initial')
        }
      })
    }(jQuery));

    (function($) {
    $('.v-center-basketball').each(function() {
      if (! isMobile.any() ) {
          $(this).parallax('50%', 0.3, true);
        } else {
          $(this).css('background-attachment', 'initial')
        }
      })
    }(jQuery));

    // MMA Page

    (function($) {
    $('.header-16-sub-mma').each(function() {
      if (! isMobile.any() ) {
          $(this).parallax('50%', 0.3, true);
        } else {
          $(this).css('background-attachment', 'initial')
        }
      })
    }(jQuery));

    (function($) {
    $('.v-center-mma').each(function() {
      if (! isMobile.any() ) {
          $(this).parallax('50%', 0.3, true);
        } else {
          $(this).css('background-attachment', 'initial')
        }
      })
    }(jQuery));

  </script>

</body>
</html>
